// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
.navwrap {
    height: 41px;
    padding: 0px;
}

// .editor {
//     //max-width: 80%;
// }
.form-horizontal{
    display:block;
    width:70%;
    margin:0 auto;
}

//ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred
.ck-editor__editable {
    min-height: 260px;
}