// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.navwrap {
  height: 41px;
  padding: 0px;
}

.tmalert {
  display: block;
  width: 60%;
  margin: 0 auto;
  color: azure;
  position: fixed;
  top: 200px;
  left: 20%;
}

.tm-success {
  background-color: #1f6f48 !important;
}

.tm-danger {
  background-color: #eb0d0d !important;
}

.form-horizontal {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.tm-col {
  min-height: 92vh;
  border: 3px dashed goldenrod;
  border-radius: 10px;
}

//ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred
.ck-editor__editable {
  min-height: 260px;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cursor-pointer {
  cursor: pointer;
}

.quick-view {

  //visibility: hidden;
  :hover {
    visibility: visible;
    cursor: pointer;
  }
}

.tm-link {
  color: blue;

  :hover {
    text-decoration: underline;
  }
}

.no-tasks-info {
  background-color: #93b7b3;
  text-align: center;
  width: 70%;
  margin-left: 16%;
  margin-top: 5%;
  padding: 10px;
  border-radius: 15px;
  z-index: 10000;
}

.edit-option-div {
  display: inline-flex;

  .edit-icon {
    display: none;
  }

  &:hover {
    border: 2px dashed rgb(144, 111, 50);
    border-radius: 10px;

    .edit-icon {
      display: block;
    }
  }
}

.sig-wrapper {
  position: relative;

}

.signature {
  display: block;
  margin: 10px auto;
  border: 2px solid #827e7e;
  width: 500px;
  height: 200px;
  background-color: #dbdbdb;
  border-radius: 10px;
  cursor: url(http://icons.iconarchive.com/icons/designcontest/vintage/32/Patent-Pen-icon.png) 0 30, progress;
}

.sig-clear-btn {
  font-size: xx-large;
}

.sig-btns-wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 500px;

}

.sig-img {
  max-width: 400px;
  max-height: 300px;
}

// .ck-link-form {
//   z-index: 44000 !important;
// }
/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
:root {
  --ck-z-default: 100;
  --ck-z-panel: calc(var(--ck-z-default) + 999);
}

.title-ellipsis3 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding: 3px;
}